POSTGRES_DB=YOUR_NAME_FOR_DATABASE
POSTGRES_USER=YOUR_NAME_FOR_POSTGRESS
POSTGRES_PASSWORD=YOUR_PASSWORD_FOR_POSTGRESS

MINIO_ROOT_USER=YOUR_NAME_FOR_MINIO
MINIO_ROOT_PASSWORD=YOUR_PASSWORD_FOR_MINIO

EMBEDDING_MODEL_PATH=YOUR_EMBEDDING_MODEL
RERANKER_MODEL_PATH=YOUR_RERANKER_MODEL

ROUTER_API=YOUR_API_KEY
ROUTER_MODEL=YOUR_MODEL
ROUTER_BASE_URL=YOUR_URL
